@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --background: var(--color-surface-50);
    --foreground: var(--color-surface-900);
}

.dark {
    --background: var(--color-surface-900);
    --foreground: var(--color-surface-50);
}